In [1]:
print('hello world')

hello world

### Datasets:

Here's one dataset for food prices https://www.kaggle.com/jboysen/global-food-prices

Here is the dataset for temperature and rainfalls http://sdwebx.worldbank.org/climateportal/index.cfm?page=downscaled_data_download&menu=historical

### Hypothesis: 

Do changes in average temperature and average level of rainfall affect the change in the average price on X crop in X country in X-X years

### Questions to the Professor:

1. How can we all access and work simultaneously in the shared Github repo (with 1 master and 3 collaborators)?

In [77]:
import pandas as pd

pricesdata='https://raw.githubusercontent.com/vzakhozhyi/599-A-Final-Project/master/Data/wfp_market_food_prices.csv'
prices = pd.read_csv(pricesdata,header=0, encoding = 'ISO-8859-1')

#Bolivia
TBdata="https://github.com/vzakhozhyi/599-A-Final-Project/raw/master/Data/Temp_Bolivia.xls"
TB=pd.read_excel(TBdata)

RFBdata="https://github.com/vzakhozhyi/599-A-Final-Project/raw/master/Data/Rainfall_Bolivia.xls"
RFB=pd.read_excel(RFBdata)

#Peru
TPdata="https://github.com/vzakhozhyi/599-A-Final-Project/raw/master/Data/Temp_Peru.xls"
TP=pd.read_excel(TPdata)

RFPdata="https://github.com/vzakhozhyi/599-A-Final-Project/raw/master/Data/Rainfall_Peru.xls"
RFP=pd.read_excel(RFPdata)

#Colombia
TCdata="https://github.com/vzakhozhyi/599-A-Final-Project/raw/master/Data/Temp_Colombia.xls"
TC=pd.read_excel(TCdata)

RFCdata="https://github.com/vzakhozhyi/599-A-Final-Project/raw/master/Data/Rainfall_Colombia.xls"
RFC=pd.read_excel(RFCdata)

In [64]:
TB.shape

(300, 6)

In [86]:
Tdataframes = [TB, TC, TP]

Temp = pd.concat(Tdataframes)
Temp

         tas  \tYear   Month  Country   ISO3   ISO2
0    23.3426    1991       1      BOL    NaN    NaN
1    23.1225    1991       2      BOL    NaN    NaN
2    22.4283    1991       3      BOL    NaN    NaN
3    21.2055    1991       4      BOL    NaN    NaN
4    19.9238    1991       5      BOL    NaN    NaN
5    18.2097    1991       6      BOL    NaN    NaN
6    17.7880    1991       7      BOL    NaN    NaN
7    19.2964    1991       8      BOL    NaN    NaN
8    21.4351    1991       9      BOL    NaN    NaN
9    22.0184    1991      10      BOL    NaN    NaN
10   22.5688    1991      11      BOL    NaN    NaN
11   23.1559    1991      12      BOL    NaN    NaN
12   22.1763    1992       1      BOL    NaN    NaN
13   22.3409    1992       2      BOL    NaN    NaN
14   21.6967    1992       3      BOL    NaN    NaN
15   20.9250    1992       4      BOL    NaN    NaN
16   20.4805    1992       5      BOL    NaN    NaN
17   18.7640    1992       6      BOL    NaN    NaN
18   16.4989    1992       7      BOL    NaN    NaN
19   18.4649    1992       8      BOL    NaN    NaN
20   20.1317    1992       9      BOL    NaN    NaN
21   21.9969    1992      10      BOL    NaN    NaN
22   21.9721    1992      11      BOL    NaN    NaN
23   22.5965    1992      12      BOL    NaN    NaN
24   22.3915    1993       1      BOL    NaN    NaN
25   21.9723    1993       2      BOL    NaN    NaN
26   21.8815    1993       3      BOL    NaN    NaN
27   21.3656    1993       4      BOL    NaN    NaN
28   19.1477    1993       5      BOL    NaN    NaN
29   18.1951    1993       6      BOL    NaN    NaN
..       ...     ...     ...      ...    ...    ...
270  17.8101    2013       7      PER    NaN    NaN
271  18.2066    2013       8      PER    NaN    NaN
272  19.5468    2013       9      PER    NaN    NaN
273  19.6918    2013      10      PER    NaN    NaN
274  19.9322    2013      11      PER    NaN    NaN
275  20.2307    2013      12      PER    NaN    NaN
276  20.2443    2014       1      PER    NaN    NaN
277  20.0607    2014       2      PER    NaN    NaN
278  19.9140    2014       3      PER    NaN    NaN
279  19.7868    2014       4      PER    NaN    NaN
280  19.9366    2014       5      PER    NaN    NaN
281  19.4495    2014       6      PER    NaN    NaN
282  18.4419    2014       7      PER    NaN    NaN
283  18.7700    2014       8      PER    NaN    NaN
284  19.6347    2014       9      PER    NaN    NaN
285  19.9489    2014      10      PER    NaN    NaN
286  20.3996    2014      11      PER    NaN    NaN
287  20.1064    2014      12      PER    NaN    NaN
288  19.8736    2015       1      PER    NaN    NaN
289  20.5103    2015       2      PER    NaN    NaN
290  20.2532    2015       3      PER    NaN    NaN
291  20.0185    2015       4      PER    NaN    NaN
292  20.0984    2015       5      PER    NaN    NaN
293  19.7564    2015       6      PER    NaN    NaN
294  19.0715    2015       7      PER    NaN    NaN
295  20.1966    2015       8      PER    NaN    NaN
296  20.8076    2015       9      PER    NaN    NaN
297  20.8017    2015      10      PER    NaN    NaN
298  21.0716    2015      11      PER    NaN    NaN
299  20.7846    2015      12      PER    NaN    NaN

[900 rows x 6 columns]

In [99]:
Tclean=Temp.drop(columns=[' ISO3', ' ISO2'])

In [100]:
Tclean.shape

(900, 4)

In [101]:
Tnewnames=['temperature', 'year', ' month', 'country']
Tnew={old:new for old,new in zip(Tclean,Tnewnames)}
Tclean.rename(columns=Tnew,inplace=True)
Tclean

     temperature  year   month country
0        23.3426  1991       1     BOL
1        23.1225  1991       2     BOL
2        22.4283  1991       3     BOL
3        21.2055  1991       4     BOL
4        19.9238  1991       5     BOL
5        18.2097  1991       6     BOL
6        17.7880  1991       7     BOL
7        19.2964  1991       8     BOL
8        21.4351  1991       9     BOL
9        22.0184  1991      10     BOL
10       22.5688  1991      11     BOL
11       23.1559  1991      12     BOL
12       22.1763  1992       1     BOL
13       22.3409  1992       2     BOL
14       21.6967  1992       3     BOL
15       20.9250  1992       4     BOL
16       20.4805  1992       5     BOL
17       18.7640  1992       6     BOL
18       16.4989  1992       7     BOL
19       18.4649  1992       8     BOL
20       20.1317  1992       9     BOL
21       21.9969  1992      10     BOL
22       21.9721  1992      11     BOL
23       22.5965  1992      12     BOL
24       22.3915  1993       1     BOL
25       21.9723  1993       2     BOL
26       21.8815  1993       3     BOL
27       21.3656  1993       4     BOL
28       19.1477  1993       5     BOL
29       18.1951  1993       6     BOL
..           ...   ...     ...     ...
270      17.8101  2013       7     PER
271      18.2066  2013       8     PER
272      19.5468  2013       9     PER
273      19.6918  2013      10     PER
274      19.9322  2013      11     PER
275      20.2307  2013      12     PER
276      20.2443  2014       1     PER
277      20.0607  2014       2     PER
278      19.9140  2014       3     PER
279      19.7868  2014       4     PER
280      19.9366  2014       5     PER
281      19.4495  2014       6     PER
282      18.4419  2014       7     PER
283      18.7700  2014       8     PER
284      19.6347  2014       9     PER
285      19.9489  2014      10     PER
286      20.3996  2014      11     PER
287      20.1064  2014      12     PER
288      19.8736  2015       1     PER
289      20.5103  2015       2     PER
290      20.2532  2015       3     PER
291      20.0185  2015       4     PER
292      20.0984  2015       5     PER
293      19.7564  2015       6     PER
294      19.0715  2015       7     PER
295      20.1966  2015       8     PER
296      20.8076  2015       9     PER
297      20.8017  2015      10     PER
298      21.0716  2015      11     PER
299      20.7846  2015      12     PER

[900 rows x 4 columns]

In [102]:
Tclean['country']=Tclean['country'].replace(['PER'], 'Peru')
Tclean['country']=Tclean['country'].replace(['COL'], 'Columbia')
Tclean['country']=Tclean['country'].replace(['BOL'], 'Bolivia')
#Price['cm_name'] = pd.Price['cm_name'].replace(['Potatoes (Dutch)'], 'Potatoes')

In [103]:
years=['2008','2009','2010','2011','2012','2013','2014','2015']
Tclean = Tclean[Tclean.year.isin(years)]
Tclean

     temperature  year   month  country
204      21.8398  2008       1  Bolivia
205      21.8494  2008       2  Bolivia
206      21.3462  2008       3  Bolivia
207      19.8720  2008       4  Bolivia
208      17.5124  2008       5  Bolivia
209      16.1819  2008       6  Bolivia
210      18.5013  2008       7  Bolivia
211      19.5740  2008       8  Bolivia
212      20.1788  2008       9  Bolivia
213      23.7426  2008      10  Bolivia
214      23.7620  2008      11  Bolivia
215      23.0890  2008      12  Bolivia
216      21.9304  2009       1  Bolivia
217      22.9417  2009       2  Bolivia
218      22.7067  2009       3  Bolivia
219      20.9677  2009       4  Bolivia
220      19.3103  2009       5  Bolivia
221      16.7260  2009       6  Bolivia
222      17.5008  2009       7  Bolivia
223      19.1220  2009       8  Bolivia
224      20.5798  2009       9  Bolivia
225      22.4539  2009      10  Bolivia
226      23.6048  2009      11  Bolivia
227      22.4621  2009      12  Bolivia
228      22.4961  2010       1  Bolivia
229      23.1342  2010       2  Bolivia
230      22.9035  2010       3  Bolivia
231      21.0309  2010       4  Bolivia
232      18.0934  2010       5  Bolivia
233      18.5048  2010       6  Bolivia
..           ...   ...     ...      ...
270      17.8101  2013       7     Peru
271      18.2066  2013       8     Peru
272      19.5468  2013       9     Peru
273      19.6918  2013      10     Peru
274      19.9322  2013      11     Peru
275      20.2307  2013      12     Peru
276      20.2443  2014       1     Peru
277      20.0607  2014       2     Peru
278      19.9140  2014       3     Peru
279      19.7868  2014       4     Peru
280      19.9366  2014       5     Peru
281      19.4495  2014       6     Peru
282      18.4419  2014       7     Peru
283      18.7700  2014       8     Peru
284      19.6347  2014       9     Peru
285      19.9489  2014      10     Peru
286      20.3996  2014      11     Peru
287      20.1064  2014      12     Peru
288      19.8736  2015       1     Peru
289      20.5103  2015       2     Peru
290      20.2532  2015       3     Peru
291      20.0185  2015       4     Peru
292      20.0984  2015       5     Peru
293      19.7564  2015       6     Peru
294      19.0715  2015       7     Peru
295      20.1966  2015       8     Peru
296      20.8076  2015       9     Peru
297      20.8017  2015      10     Peru
298      21.0716  2015      11     Peru
299      20.7846  2015      12     Peru

[288 rows x 4 columns]